html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 1;
}

*{
	cursor:crosshair;
	font-family: helvetica;
}

#score{
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 99;
	top: 10px; left: 10px;
}
#menu
{
	position:absolute;
	top:10px;  /* adjust value accordingly */
	left: 90px;  /* adjust value accordingly */
	height: 100px;
	width: 240px;
	z-index: 99;
	background: rgba(255,255,255,0.7);
	float: left;
	text-align: center;
}
#menu h1{
	font-size: 2.5em;
	color: #e74c3c;
}
#menu h1:after{
	content: ' m'
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	#menu
	{
		left: 40px;
		width: 160px;
		height: 60px;
	}
	#menu h1{
	font-size: 1.5em;
	color: #e74c3c;
}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
